@media screen and (min-width:768px){
    body{
        /* background-color: #fff562; */
    }
    .nav-icons{
        display: none;
    }
    .active-nav-list{
        display: block;
    }
    #homeIcon{
        color: chocolate;
    }
    .active-nav-list ul li a {
        text-decoration: none;
        color: rgb(202, 96, 20);
        padding: 0 8px;
        font-size: 15px;
    }
    .navbar, #hero-home,#hero-about,#hero-services, #hero-gallery, #hero-vendor{
        padding: 20px 10%;
    }
    #footer{
        padding: 20px 20%;
    }
    #hero-home{
        padding-top: 14vh;
        height: 50vh;
    }
    #hero-home h1{
        width: 70%;
     font-size: 29px;
    }
    #title-img{
        width: 130px;
        height: 50px;
    }
    #title-main{
        font-size: 22px;
        line-height: 20px;
    }
    .about-container{
        margin-top: 30px;
        justify-content: center;
        display: grid;
        grid-template-rows: repeat(2, 200px);
        grid-template-columns:repeat(2, 300px);
        row-gap: 10px;
        column-gap: 10px;
    }
    .about-viola, .expertise, .commitment,.story{
        width: 300px;
        background-color: rgb(255, 238, 225);
        height: 200px;
        
    }
    #about-title{
        font-size: 14px;
    }
    #about-text{
        font-size: 12px;
    }
    .image-icons{
        width: 60%;
    }
    .gal{
        width: 120px;
    }
    #rose1{
        top: 68vh;
        left: 7%;
    }
    #rose2{
        top: 129vh;
        right: 7%;
    }
    #rose3{
        top:163vh;
        left: 7%;
    }
    #rose4{
        width: 220px;
        top: 230vh;
        right: 7%;
    }
    #rose5{
        top:265vh;
        left: 7%;
    }
    #rose6{
        width: 220px;
        top: 330vh;
        right: 7%;
    }
    #rose7{
        top:462vh;
        left: 7%;
    }
    #rose8{
        top: 520vh;
        right: 7%;
    }
    .faq-container{
        width: 80%;
    }
}
@media screen and (min-width:1025px){
    body{
        background-color: #fff;
    }
    .navbar, #hero-home,#hero-about,#hero-services, #hero-gallery, #hero-vendor{
        padding: 20px 10%;
    }
    #footer{
        padding: 20px 30%;
    }
    #hero-home{
        padding-top: 20vh;
        height: 60vh;
    }
    #hero-home h1{
     font-size: 33px;
    }
    .about-container{
        width: 80%;
        height: 100%;
        /* flex-direction: row;
        flex-wrap: wrap; */
        display: grid;
        grid-template-rows: repeat(2, 200px);
        grid-template-columns:repeat(2, 400px);
        row-gap: 10px;
        column-gap: 10px;
        /* gap: 10px; */
        /* justify-content: center; */
        
    }
    .about-viola, .expertise, .commitment,.story{
        width: 400px;
        background-color: rgb(255, 238, 225);
        height: 200px;
        
    }
    .image-icons{
        width: 50%;
    }
    .gal{
        width: 140px;
    }
    #rose1{
        width: 150px;
        top: 70vh;
        left: 7%;
    }
    #rose2{
        top: 135vh;
        right: 7%;
    }
    #rose3{
        width: 150px;
        top:168vh;
        left: 7%;
    }
    #rose4{
        width: 250px;
        top: 230vh;
        right: 7%;
    }
    #rose5{
        width: 150px;
        top:270vh;
        left: 7%;
    }
    #rose6{
        width: 250px;
        top: 340vh;
        right: 7%;

    }
    #rose7{
        width: 150px;
        top:470vh;
        left: 7%;
    }
    #rose8{
        width: 250px;
        top: 530vh;
        right: 7%;
    }
    #service-intro{
        font-size: 15px;
    }

    .faq-container{
        width: 60%;
    }

}