*{
    margin: 0px;
    padding: 0px;
     box-sizing: border-box;
}
/* font-family: "Poppins", sans-serif; */
body{
    font-family: "Playfair Display", serif;
    min-height: 100vh;
    width: 100%;
    overflow-x: hidden;
   
    display: block;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#home,
.container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo, .navbar,.nav-content,.section-content,#hero-home,.btn-home,#hero-about,#hero-services,
.section-container, #hero-gallery, #hero-vendor, .footer-content ul, .footer-content, .social, .title, .image-icons,.service-list, .vendor-list,.list-container,.about-container, #hero-FAQ,.faq-list,  .faq, .q-no{
    display: flex;
    align-items: center;
    
}
#hero-home,#hero-about,#hero-services,
 #hero-gallery, #hero-vendo, #hero-FAQ{
    transition: ease-in 0.3s;
    
}

.section-container{
    width:100%; 
    height: 100%;
    display: block;
}
/* navbar */
.navbar, #hero-home,#hero-about,#hero-services, #hero-gallery, #hero-vendor, .footer, #hero-FAQ{
    padding: 20px;
}
.navbar{
    width: 100%;
    /* height: 100px;*/
    background-color: #ffffff; 
    justify-content: center;
    height: 10vh;
    position: sticky;
    z-index: 1;
    top: 0;
    transition: top 0.3s;
}
.nav-content{
    width:100%; 
    height: 100%;
    justify-content: space-between;
    /* background-color: aqua; */
}
.active-nav-list{
    display: none;
}
.active-nav-list ul li{
    display: inline;
}
.nav-list {
    display: none;
    position: absolute;
    top: 10vh;
    background-color: rgba(210, 105, 30, 0.64);
    backdrop-filter: blur(10px);
    padding: 15px;
    height: 25vh;
    width: 100%;
    transition: ease-in-out 0.2s;
    text-align: center;
}
.nav-list ul li a{
    color: #fff;
    line-height: 22px;
}
.logo{
    gap: 10px;
}
#logo-icon{
    text-align: center;
    background-color:chocolate;
    width: 30px;
    border-radius: 5px;
    color:#ffffff
}
.logo h1{
    font-size: 30px;
    font-weight: 500;
    color: chocolate;
}
.fa-solid, .footer a,
.nav-list a{
    text-decoration: none;

}
.footer li,
.nav-list li{
    list-style: none;
}
.nav-icons .fa-solid{
    font-size: 13px;
    color: chocolate;
}
/* hero home */
.section-content{
    width: 100%;
    height: 100%;
    justify-content: center;
    flex-direction: column;
    /* background-color: chartreuse; */
}


#hero-home{
    background: linear-gradient(rgba(255, 233, 184, 0.581), rgba(197, 142, 99, 0.978)), /* Black gradient with 50% opacity */
    url("./assets/wed1.jpg");
    padding-top: 20px;
    height: 30vh;
}

/* section common body */
#hero-home,#hero-about,#hero-services,#hero-gallery, #hero-vendor{
    width: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    flex-direction: column;
}
#hero-home h1{
    width: 60%;
 font-size: 20px;
 font-weight: 550;
 text-align: center;
 color: rgb(255, 255, 255);

}
.btn-home{
    gap: 10px;
}

#start-plan, #contact-us{
    margin-top: 15px;
    width: 130px;
    font-size: 13px;
    padding: 5px;
    border-radius: 25px;
    cursor: pointer;
    font-family:  "Playfair Display", serif;
    transition-duration: 0.3s;
}
#start-plan{
    color: rgb(255, 255, 255);
    border: 1px solid rgb(255, 255, 255);
    background: none;
}
#start-plan:hover{
    border: 1px solid rgba(255, 255, 255, 0);
    background: chocolate;
    color: rgb(255, 255, 255);
}
#start-plan:active{
    background: rgb(124, 62, 18);
    transition-duration: 0.1s;

}
#contact-us{
    color: rgb(255, 255, 255);
    border: 1px solid rgba(255, 255, 255, 0);
    background: rgb(45, 45, 45);
}
#contact-us:hover{
    border: 1px solid rgba(255, 255, 255, 0);
    background: rgb(98, 98, 98);
    color: rgb(255, 255, 255);
}
#contact-us:active{
    background: rgb(27, 27, 27);
    transition-duration: 0.1s;
}


/* about us */
#hero-about{
    background-color: rgb(255, 243, 243);
   height: 90vh;
}
.title{
    flex-direction: column;
}
#title-img{
    width: 100px;
}
#title-main{
    color: hwb(25 12% 18%);
    font-size: 20px;
    padding: 0;
    line-height: 18px;
    text-align: center;
    
}
.about-container{
        flex-direction: column;
        width: 100%;
    }
#about-title{
    color: rgb(31, 31, 31);
    text-align: center;
    font-size: 12px;
}
#about-text{
    color: rgb(111, 111, 111);
    font-size: 10px;
    font-family: 'Poppins';
}
.about-viola, .expertise, .commitment,.story{
    background-color: rgb(255, 238, 225);
    padding: 10px;
    text-align: justify;
    width: 100%;
    border-radius: 10px;
    margin-top: 20px;
}

#rose1{
    position: absolute;
    width: 100px;
    top: 47vh;
    left: -10px;
}
#rose2{
    position: absolute;
    width: 200px;
    top: 105vh;
    right: -15px;
    opacity: 0.5;
    /* z-index: -1; */
}
#rose3{
    position: absolute;
    width: 100px;
    top:133vh;
    left: -10px;
}
#rose4{
    position: absolute;
    width: 200px;
    top: 200vh;
    right: -15px;
    opacity: 0.5;
}
#rose5{
    position: absolute;
    width: 100px;
    top:226vh;
    left: -10px;
}
#rose6{
    position: absolute;
    width: 200px;
    top: 290vh;
    right: -15px;
    opacity: 0.5;
}

/* services */
#hero-services{
    /* background-color: #fff; */
    height: 90vh;
}
.list-container{
    width: 100%;
    height: 100%;
    flex-direction: column;
}
#vendor-title,
#service-intro{
    margin: 20px 0px;
}
#vendor-title,
#service-title{
    font-size: 13px;
    padding: 10px;
    border-radius: 5px;
    width:auto;
    /* background-color: antiquewhite; */
    margin-top: 10px;
    cursor: pointer;
    /* text-align: center; */
    transition-duration: 0.2s;
    

}

#vendor-title a,
#service-title a{
    color: chocolate;
    text-decoration: none;
    transition-duration: 0.2s;
}
#vendor-title a:hover,
#service-title a:hover{
   color: rgb(213, 177, 129);
   padding: 10px;
   box-shadow: 5px 5px 5px rgb(255, 214, 214);
   border-radius: 25px;
   
}
#vendor-title a :active,
#service-title a:active{
    color: rgb(165, 137, 101);
}
.faq-list,
.vendor-list,
.service-list{
    width: 100%;
    justify-content: center;
    /* background-color: aqua; */

}
#service-icon{
    width: 60px;
}

.image-icons{
    /* gap: 10px; */
    width: 350px;
    height: 80px;
    background-color: rgba(255, 235, 205, 0.279);
    padding: 20px;
    flex-direction: row;
}
#image-split{
 width: 1px;
 height: 80px;
 background-color: antiquewhite;
 margin-left: 10px;
}


/* vendor */
#hero-vendor{
    height: 100vh;
}





/* gallery */
#hero-gallery{
    height: 100vh;
    background-color: #fff2f2;
}
.gallery-container{
    /* background-color: aqua; */
    width: 100%;
    /* height: 100%; */
    display: flex;
    flex-wrap:wrap;
    align-items: center;
    justify-content: center;
    gap: 5px;
    margin-top: 20px;
    overflow: hidden;

}
#gal{
    width: 100px;
    height: auto;
}
.footer{
    width: 100%;
    height:40vh;
    background-color: chocolate;
}
.footer .logo{    
    height: 10vh;
}
.footer .footer-content{    
    height: 20vh;
    align-items: center;
    text-align: center;
    flex-direction: row;
}
.footer-content ul{
    flex-direction: column;
    width: 50%;
}
.footer .footer-copyrigh{    
    height: 10vh;
}
.footer #logo-icon{
    text-align: center;
    background-color: #ffffff;
    width: 30px;
    border-radius: 5px;
    color: chocolate;
}
.footer .logo h1{
    color: #ffffff;
}
.footer a{
    color: #ffffff;
}
.footer-span{
    width: 1.5px;
    height: 150px;
    background-color: #fff;
}
.social{
    /* flex-direction: column; */
    height: 100%;
    gap: 8px;
    width: 50%;
    flex-wrap: wrap;
    overflow: hidden;
    justify-self: center;
    padding-left: 20px;
}
.social a{
    font-size: 20px;
    text-align: center;
}
.footer-copyright{
    color: #fff;
    text-align: center;
    margin-top: 20px;}



/* FAQ */
#hero-FAQ{
    width: 100%;
    flex-direction: column;
    height: 100vh;
}
.faq-list{
/* background-color: aqua; */
margin-top: 20px;
width: 100%;

}
.faq-container{
    width: 100%;
    flex-direction: column;
}
.list-faq{
    /* background-color: aquamarine; */
    flex-direction: column;
    text-align: justify;
    margin-bottom: 10px;
    width: 100%;
    /* height: 80px; */
    
}
.faq{
    /* background-color: burlywood; */
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}
.num {
    font-size: 15px;
    /* background-color: rgba(210, 105, 30, 0.162); */
    border: 2px solid rgba(210, 105, 30, 0.704);
    border-radius: 20px;
    width: 25px;
    height: 25px;
    text-align: center;
    color: rgba(210, 105, 30, 0.934);
}
.q-no{
    gap: 10px;
}
.que {
    color: chocolate;
    font-size: 15px;

}

.ans p{
    color: rgb(93, 93, 93);
    font-size: 12px;
}
.ans{
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-in;
}
.ans.active{
    /* background-color: aqua; */
    max-height: 100px;
}
@keyframes example {
    from {color: red;}
    to {color: yellow;}
  }
.down-icon .fa-chevron-down{
    color: chocolate;
}
