*{
    margin: 0px;
    padding: 0px;
     box-sizing: border-box;
}
/* font-family: "Poppins", sans-serif; */
body{
    font-family: "Playfair Display", serif;
    min-height: 100vh;
    width: 100%;
    /* overflow: hidden; */
   
    display: block;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#home,
.container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.navbar,.nav-content,.section-content,.hero-home,.btn-home,.hero-about,.hero-services,
.section-container, .hero-gallery, .hero-vendor{
    display: flex;
    align-items: center;
    
}
.section-container{
    width:100%; 
    height: 100%;
    display: block;
}
/* navbar */
.navbar, .hero-home,.hero-about,.hero-services, .hero-gallery, .hero-vendor, .footer{
    padding: 20px;
}
.navbar{
    width: 100%;
    /* height: 100px;*/
    background-color: #ffffff; 
    justify-content: center;
    height: 10%;
    position: fixed;
}
.nav-content{
    width:100%; 
    height: 100%;
    justify-content: space-between;
    /* background-color: aqua; */
}
.nav-list {
    display: none;
}
.logo h1{
    font-size: 30px;
    font-weight: 500;
    color: chocolate;
}
.fa-solid,
.nav-list a{
    text-decoration: none;

}
.nav-list li{
    list-style: none;
}
.nav-icons .fa-solid{
    font-size: 13px;
    color: chocolate;
}
/* hero home */
.section-content{
    width: 100%;
    height: 100%;
    justify-content: center;
    flex-direction: column;
    /* background-color: chartreuse; */
}


.hero-home{
    background: linear-gradient(rgba(255, 232, 184, 0.348), rgba(197, 141, 99, 0.937)), /* Black gradient with 50% opacity */
    url("./assets/wed1.jpg");
}

/* section common body */
.hero-home,.hero-about,.hero-services,.hero-gallery, .hero-vendor{
    height: 100vh;
    width: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    flex-direction: column;
}
.hero-home h1{
    width: 60%;
 font-size: 40px;
 font-weight: 500;
 text-align: center;
 color: rgb(255, 255, 255);
}
.btn-home{
    gap: 15px;
}

#start-plan, #contact-us{
    margin-top: 20px;
    width: 150px;
    font-size: 16px;
    padding: 10px;
    border-radius: 25px;
    cursor: pointer;
    font-family:  "Playfair Display", serif;
    transition-duration: 0.3s;
}
#start-plan{
    color: rgb(255, 255, 255);
    border: 1px solid rgb(255, 255, 255);
    background: none;
}
#start-plan:hover{
    border: 1px solid rgba(255, 255, 255, 0);
    background: chocolate;
    color: rgb(255, 255, 255);
}
#start-plan:active{
    background: rgb(124, 62, 18);
    transition-duration: 0.1s;

}
#contact-us{
    color: rgb(255, 255, 255);
    border: 1px solid rgba(255, 255, 255, 0);
    background: rgb(45, 45, 45);
}
#contact-us:hover{
    border: 1px solid rgba(255, 255, 255, 0);
    background: rgb(98, 98, 98);
    color: rgb(255, 255, 255);
}
#contact-us:active{
    background: rgb(27, 27, 27);
    transition-duration: 0.1s;
}


/* about us */
.hero-about{
    /* background: linear-gradient(rgba(255, 255, 255, 0.34), rgba(255, 255, 255, 0.937)), url("./assets/wed3.jpg"); */
    background-color: rgb(248, 232, 213);
   
}
#title-main{
    color: chocolate;
    font-size: 20px;
    
}
#about-title{
    color: rgb(31, 31, 31);
    text-align: center;
}
#about-text{
    color: rgb(111, 111, 111);
    font-weight: 550;
    font-size: 10px;
    font-family: 'Poppins';
}
.about-viola, .expertise, .testimonials, .commitment{
    background-color: rgb(255, 221, 195);
    padding: 10px;
    text-align: justify;
    width: 100%;
    border-radius: 10px;
    margin-top: 20px;
}
.story, .client-approach{
    background-color: rgb(254, 239, 228);
    padding: 10px;
    text-align: justify;
    width: 100%;
    border-radius: 10px;
    margin-top: 20px;
}


/* services */
.hero-services{

}
#service-intro{
    margin: 20px 0px;
}
#service-title{
    font-size: 20px;
    padding: 15px;
    border-radius: 5px;
    width:350px;
    background-color: antiquewhite;
    margin-top: 20px;
    cursor: pointer;
    text-align: center;
    transition-duration: 0.2s;

}
#service-title:hover{
    background-color: rgb(213, 177, 129);
}
#service-title:active{
    background-color: rgb(165, 137, 101);
}
#service-title a{
    color: rgb(0, 0, 0);
    text-decoration: none;
}



/* gallery */
.hero-gallery{
    height: auto;
}
.gallery-container{
    /* background-color: aqua; */
    width: 100%;
    /* height: 100%; */
    display: flex;
    flex-wrap:wrap;
    align-items: center;
    justify-content: center;
    gap: 5px;
    margin-top: 20px;

}
#gal{
    width: 180px;
    height: auto;
}